<p>******** Now your result ********</p>

<p>Your word:</p> <%= @guess %>
<p>Time Taken to answer: </p> <%= @time_taken %>
<p>Your score:</p> <%= @score%>
<p>Message: </p> <%= @message %>

<p>*****************************************************</p>

<%= link_to "Play again", 'game' %>
